In [1]:
import mysql.connector

In [2]:
con = mysql.connector.connect(
            user='root', password='root', database='db')

DatabaseError: 2003 (HY000): Can't connect to MySQL server on '127.0.0.1:3306' (10061)

In [8]:
con = mysql.connector.connect(
            user='root', password='root', port="3306", database='db')

In [5]:
con

In [4]:
cursor = con.cursor()
cursor.execute('Select * FROM cadastro')
cadastro = cursor.fetchall()

In [6]:
cadastro

[(1,
  'female',
  'Miss',
  'Victoria',
  'Lambert',
  'Gloucester',
  'Rutland',
  'United Kingdom',
  'victoria.lambert@example.com',
  datetime.date(1965, 6, 20),
  datetime.datetime(2024, 3, 16, 0, 0))]